@import "variables"

$bg-width: 2000px
$bg-height: 3000px

%cover
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0

.bg
    @extend %cover
    @each $prefix in $prefixes
        background-image: #{$prefix}linear-gradient(45deg, $c-gradient1, $c-gradient2, $c-gradient1, $c-gradient2, $c-gradient1, $c-gradient2)
        #{$prefix}transform: translate3d(0, 0, 0)
    background-repeat: repeat
    background-size: $bg-width $bg-height
    left: -$bg-width * 2

    .fancy &
        @each $prefix in $prefixes
            #{$prefix}animation: scroll 30s linear infinite

.vignet
    @extend %cover
    box-shadow: 0 0 20px rgba(0, 0, 0, .1) inset

@-webkit-keyframes scroll
    0%
        -webkit-transform: translate3d($bg-width, 0, 0)
    100%
        -webkit-transform: translate3d(0, 0, 0)

@-moz-keyframes scroll
    0%
        -moz-transform: translate3d($bg-width, 0, 0)
    100%
        -moz-transform: translate3d(0, 0, 0)

@-ms-keyframes scroll
    0%
        -ms-transform: translate3d($bg-width, 0, 0)
    100%
        -ms-transform: translate3d(0, 0, 0)

@keyframes scroll
    0%
        transform: translate3d($bg-width, 0, 0)
    100%
        transform: translate3d(0, 0, 0)
