ul.social
    text-align: center
    margin-left: $px-padding-M

    .ENHANCED &
        overflow: hidden
        clear: left
        margin-left: #{$px-padding-L + $px-padding-M * 2 + $px-card - ($px-icon * 4 + $px-gutter * 4)}
        width: $px-icon * 4 + $px-gutter * 4

    a
        float: left
        background: url(about:blank) no-repeat 0 0 / 100% 100%
        @extend %small-tile

        &:hover
            background-color: rgba(0, 0, 0, .2)

    @each $social in (email, linkedin, facebook, github)
        ##{$social} a
            background-image: url(../img/#{$social}.png)
