$font-header: raleway, arial, sans-serif
$font-body: lucida grande, lucida sans, lucida sans unicode, sans-serif

$c-transparent: rgba(0, 0, 0, 0)

$fs-header: 30px

$px-icon: 40px
$px-card: 400px
$px-gutter: 1px
$px-padding-S: 4px
$px-padding-M: 15px
$px-padding-L: 30px

$prefixes-selection: ('::-moz-selection', '::selection')
$prefixes: ('-webkit-', '-moz-', '-ms-', '-o-', '')

$bg-width: 2000px
$bg-height: 3000px

$c-spring-1: #0bf
$c-spring-2: #0fb

$c-summer-1: #e2a
$c-summer-2: #0bf

$c-autumn-1: #000
$c-autumn-2: #558

$c-winter-1: #9ac
$c-winter-2: #ccd

$c-card: #fff
$c-header: #09c
$c-text: #888

