$c-transparent: rgba(0, 0, 0, 0)

$c-card: #fff
$c-header: #888
$c-text: #888
$c-time: #888

$c-gradient1: #e2a
$c-gradient2: #0bf

$fs-header: 30px

$n-card: 400
$n-gutter: 1
$n-padding-med: 15
$n-padding-big: 30

$px-card:  #{$n-card}px
$px-gutter: #{$n-gutter}px
$px-padding-med: #{$n-padding-med}px
$px-padding-big: #{$n-padding-big}px

$prefixes-selection: ('::-moz-selection', '::selection')
$prefixes: ('-webkit-', '-moz-', '-ms-', '-o-', '')
